 #titulo_principal{
                background-color: #00d8f5;
                color: white;
            }

            .titulo_secundario{
                background-color: #ff0000;
                color: white;
            }